# --- Laravel Standard ---
/node_modules
/public/hot
/public/storage
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store

# --- IDEs (VS Code, PHPStorm, etc) ---
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# --- Storage & Framework ---
/storage/*.key
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

/storage/logs/*
!/storage/logs/.gitignore

/storage/framework/cache/*
!/storage/framework/cache/.gitignore

/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore

/storage/framework/testing/*
!/storage/framework/testing/.gitignore

/storage/framework/views/*
!/storage/framework/views/.gitignore

# --- Uploads & Livewire (A parte que estava sujando seu Git) ---
# Ignora todos os arquivos temporários do Livewire
/storage/app/livewire-tmp/*
!/storage/app/livewire-tmp/.gitignore

# Ignora todos os uploads de produtos e arquivos de sistema
/storage/app/*
!/storage/app/.gitignore
!/storage/app/public/

# Ignora variações da pasta storage na raiz pública
/public/storage_*
